<!doctype html>
<html>
<head>
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <title>${title} - Huaichao, Ver.$ver</title>
    <link rel="stylesheet" type="text/css" href="${base}/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="${base}/css/bootstrap-theme.css"/>
    <link rel="stylesheet" type="text/css" href="${base}/css/site.css"/>
    <script type="text/javascript" src="${base}/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="${base}/js/bootstrap.js"></script>
    ${head}
</head>
<body>
<div id="header"></div>
<div id="content">
    ${body}
</div>
<div id="footer"></div>
</body>
</html>